.header {
    height: 12vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.headerMid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText {
    text-align: center;
    margin-bottom: 10px;
}

.headerMenu {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.headerLogo {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


