.mainContent{
    display: flex;
    width: 98%;
    margin-top: 1%;
    justify-content: center;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    width: 98%;

    justify-content: center;
    align-items: start;
}

.mainContainerCenter{
    display: flex;
    margin-top: 15px;
    width: 65%;
    justify-content: center;
}

.mainContainerSides{
    display: flex;
    width: 15%;
    justify-content: center;
}

